In [1]:
import pandas as pd

In [4]:
data = pd.read_csv(r"..\data\part_2\daily_data.csv")
data

,day_id,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,sunrise,sunset
0,D0001,C001,27.0,NaN,6.1,210,1006.0,0.0,54,75,28.0,10.0,6.0,11.9,2,06:04 AM,07:19 PM
1,D0002,C001,22.0,NaN,6.1,170,1006.0,0.0,73,75,24.5,10.0,1.0,23.4,1,06:05 AM,07:18 PM
2,D0003,C001,20.0,Light Rain with Thunder,3.6,10,1011.0,4.5,100,75,20.0,10.0,1.0,12.6,1,06:05 AM,07:18 PM
3,D0004,C001,17.0,Clear and Sunny,6.1,150,1018.0,0.0,88,0,17.0,10.0,1.0,11.2,1,06:06 AM,07:16 PM
4,D0005,C001,18.0,NaN,3.6,92,1019.0,0.0,94,0,18.0,10.0,1.0,9.0,1,06:07 AM,07:15 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,D2889,C112,17.1,Clear and Sunny,13.3,61,1017.0,0.0,57,3,17.1,10.0,1.0,22.2,1,05:49 AM,05:51 PM
2889,D2890,C112,17.4,NaN,13.0,51,1017.0,0.0,49,0,17.4,10.0,1.0,22.2,1,05:49 AM,05:52 PM
2890,D2891,C112,19.2,NaN,11.5,46,1016.0,0.0,34,0,19.2,10.0,1.0,21.3,2,05:48 AM,05:52 PM
2891,D2892,C112,19.2,NaN,14.4,76,1017.0,0.0,45,2,19.2,10.0,1.0,24.9,2,05:47 AM,05:52 PM
2892,D2893,C112,18.6,NaN,17.3,61,1016.0,0.0,34,0,18.6,10.0,1.0,30.2,2,05:46 AM,05:52 PM

In [5]:
# Check null values
data.isnull().sum()

day_id                         0
city_id                        0
temperature_celsius            0
condition_text              2414
wind_kph                       0
wind_degree                    0
pressure_mb                    0
precip_mm                      0
humidity                       0
cloud                          0
feels_like_celsius             0
visibility_km                  0
uv_index                       0
gust_kph                       0
air_quality_us-epa-index       0
sunrise                        0
sunset                         0
dtype: int64

In [8]:
data = data.dropna()
data.reset_index(drop=True, inplace=True)
data

,day_id,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,sunrise,sunset
0,D0003,C001,20.0,Light Rain with Thunder,3.6,10,1011.0,4.50,100,75,20.0,10.0,1.0,12.6,1,06:05 AM,07:18 PM
1,D0004,C001,17.0,Clear and Sunny,6.1,150,1018.0,0.00,88,0,17.0,10.0,1.0,11.2,1,06:06 AM,07:16 PM
2,D0007,C001,21.0,Partly Cloudy,4.0,310,1015.0,0.00,100,50,21.0,10.0,1.0,15.1,2,06:08 AM,07:11 PM
3,D0019,C001,19.0,Clear and Sunny,3.6,64,1017.0,0.00,88,0,19.0,10.0,1.0,8.3,3,06:20 AM,06:51 PM
4,D0028,C002,19.0,Partly Cloudy,3.6,83,1010.0,0.00,73,25,19.0,10.0,1.0,8.3,1,06:17 AM,07:20 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,D2839,C110,27.0,Partly Cloudy,19.1,90,1014.0,0.01,70,25,29.8,10.0,6.0,45.6,1,05:39 AM,05:43 PM
475,D2864,C111,21.4,Light Precipitation,3.6,178,1012.0,0.00,89,75,21.4,10.0,6.0,6.6,1,06:17 AM,06:25 PM
476,D2874,C112,16.9,Clear and Sunny,16.6,68,1018.0,0.00,44,2,16.9,10.0,1.0,27.0,1,06:02 AM,05:49 PM
477,D2887,C112,19.5,Clear and Sunny,5.4,27,1014.0,0.00,34,0,19.4,10.0,1.0,11.2,2,05:51 AM,05:51 PM
478,D2889,C112,17.1,Clear and Sunny,13.3,61,1017.0,0.00,57,3,17.1,10.0,1.0,22.2,1,05:49 AM,05:51 PM

In [10]:
data["condition_text"].value_counts()

condition_text
Clear and Sunny            122
Partly Cloudy              122
Light Precipitation         68
Cloudy and Overcast         53
Mist or Fog                 50
Rain Showers                21
Light Rain with Thunder     16
Thunderstorms               15
Moderate to Heavy Rain      12
Name: count, dtype: int64

In [11]:
# Check for duplicates
data.duplicated().sum()

np.int64(0)

In [12]:
# Drop sunrise and sunset columns
data.drop(columns=["sunrise", "sunset"], inplace=True)

In [13]:
# get condition_text column to the right corner
condition_text = data.pop("condition_text")
data["condition_text"] = condition_text

In [14]:
data

,day_id,city_id,temperature_celsius,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,condition_text
0,D0003,C001,20.0,3.6,10,1011.0,4.50,100,75,20.0,10.0,1.0,12.6,1,Light Rain with Thunder
1,D0004,C001,17.0,6.1,150,1018.0,0.00,88,0,17.0,10.0,1.0,11.2,1,Clear and Sunny
2,D0007,C001,21.0,4.0,310,1015.0,0.00,100,50,21.0,10.0,1.0,15.1,2,Partly Cloudy
3,D0019,C001,19.0,3.6,64,1017.0,0.00,88,0,19.0,10.0,1.0,8.3,3,Clear and Sunny
4,D0028,C002,19.0,3.6,83,1010.0,0.00,73,25,19.0,10.0,1.0,8.3,1,Partly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,D2839,C110,27.0,19.1,90,1014.0,0.01,70,25,29.8,10.0,6.0,45.6,1,Partly Cloudy
475,D2864,C111,21.4,3.6,178,1012.0,0.00,89,75,21.4,10.0,6.0,6.6,1,Light Precipitation
476,D2874,C112,16.9,16.6,68,1018.0,0.00,44,2,16.9,10.0,1.0,27.0,1,Clear and Sunny
477,D2887,C112,19.5,5.4,27,1014.0,0.00,34,0,19.4,10.0,1.0,11.2,2,Clear and Sunny
478,D2889,C112,17.1,13.3,61,1017.0,0.00,57,3,17.1,10.0,1.0,22.2,1,Clear and Sunny

In [15]:
data.describe()

,temperature_celsius,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index
count,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000
mean,22.098956,10.748434,158.440501,1013.108559,0.273695,78.718163,45.949896,23.801253,9.400835,2.215031,17.690397,1.665971
std,6.451436,7.329050,99.654088,6.103767,1.110974,18.355905,36.245756,8.604348,3.197645,2.171926,10.932474,1.186179
min,5.000000,3.600000,4.000000,995.000000,0.000000,4.000000,0.000000,1.400000,0.200000,1.000000,0.700000,1.000000
25%,17.000000,4.850000,80.000000,1010.000000,0.000000,72.000000,0.000000,17.000000,10.000000,1.000000,9.400000,1.000000
50%,23.000000,9.000000,152.000000,1013.000000,0.000000,83.000000,50.000000,24.800000,10.000000,1.000000,15.400000,1.000000
75%,27.000000,15.100000,230.000000,1017.000000,0.100000,94.000000,75.000000,30.150000,10.000000,3.000000,24.500000,2.000000
max,37.000000,59.000000,360.000000,1029.000000,19.600000,100.000000,100.000000,51.500000,32.000000,9.000000,64.100000,6.000000

In [16]:
data.describe(include="object")

       day_id city_id   condition_text
count     479     479              479
unique    479     110                9
top     D2889    C010  Clear and Sunny
freq        1      14              122

In [17]:
data.to_csv(r"..\data\part_2\daily_data_cleaned.csv", index=False)