In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv(r"..\data\part_2\daily_data.csv")
data

,day_id,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,sunrise,sunset
0,D0001,C001,27.0,NaN,6.1,210,1006.0,0.0,54,75,28.0,10.0,6.0,11.9,2,06:04 AM,07:19 PM
1,D0002,C001,22.0,NaN,6.1,170,1006.0,0.0,73,75,24.5,10.0,1.0,23.4,1,06:05 AM,07:18 PM
2,D0003,C001,20.0,Light Rain with Thunder,3.6,10,1011.0,4.5,100,75,20.0,10.0,1.0,12.6,1,06:05 AM,07:18 PM
3,D0004,C001,17.0,Clear and Sunny,6.1,150,1018.0,0.0,88,0,17.0,10.0,1.0,11.2,1,06:06 AM,07:16 PM
4,D0005,C001,18.0,NaN,3.6,92,1019.0,0.0,94,0,18.0,10.0,1.0,9.0,1,06:07 AM,07:15 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,D2889,C112,17.1,Clear and Sunny,13.3,61,1017.0,0.0,57,3,17.1,10.0,1.0,22.2,1,05:49 AM,05:51 PM
2889,D2890,C112,17.4,NaN,13.0,51,1017.0,0.0,49,0,17.4,10.0,1.0,22.2,1,05:49 AM,05:52 PM
2890,D2891,C112,19.2,NaN,11.5,46,1016.0,0.0,34,0,19.2,10.0,1.0,21.3,2,05:48 AM,05:52 PM
2891,D2892,C112,19.2,NaN,14.4,76,1017.0,0.0,45,2,19.2,10.0,1.0,24.9,2,05:47 AM,05:52 PM
2892,D2893,C112,18.6,NaN,17.3,61,1016.0,0.0,34,0,18.6,10.0,1.0,30.2,2,05:46 AM,05:52 PM

In [3]:
# Check null values
data.isnull().sum()

day_id                         0
city_id                        0
temperature_celsius            0
condition_text              2414
wind_kph                       0
wind_degree                    0
pressure_mb                    0
precip_mm                      0
humidity                       0
cloud                          0
feels_like_celsius             0
visibility_km                  0
uv_index                       0
gust_kph                       0
air_quality_us-epa-index       0
sunrise                        0
sunset                         0
dtype: int64

In [4]:
# Check number of unique values in each column
data.nunique()

day_id                      2893
city_id                      112
temperature_celsius          191
condition_text                 9
wind_kph                      84
wind_degree                  281
pressure_mb                   49
precip_mm                    122
humidity                      94
cloud                         87
feels_like_celsius           394
visibility_km                 30
uv_index                      10
gust_kph                     374
air_quality_us-epa-index       6
sunrise                      168
sunset                       198
dtype: int64

#### Label Encoding

In [5]:
# label encoding
from sklearn.preprocessing import LabelEncoder

categorical_columns = ["city_id", "condition_text"]

# Initialize the LabelEncoder
le = LabelEncoder()

# Label encode the categorical columns
for col in categorical_columns:
    data[col] = le.fit_transform(data[col])
    # Print the classes for each categorical column
    print(pd.DataFrame({col: le.classes_, 'label': le.transform(le.classes_)}))
    print()

    city_id  label
0      C001      0
1      C002      1
2      C003      2
3      C004      3
4      C005      4
..      ...    ...
107    C108    107
108    C109    108
109    C110    109
110    C111    110
111    C112    111

[112 rows x 2 columns]

            condition_text  label
0          Clear and Sunny      0
1      Cloudy and Overcast      1
2      Light Precipitation      2
3  Light Rain with Thunder      3
4              Mist or Fog      4
5   Moderate to Heavy Rain      5
6            Partly Cloudy      6
7             Rain Showers      7
8            Thunderstorms      8
9                      NaN      9

In [6]:
data

,day_id,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,sunrise,sunset
0,D0001,0,27.0,9,6.1,210,1006.0,0.0,54,75,28.0,10.0,6.0,11.9,2,06:04 AM,07:19 PM
1,D0002,0,22.0,9,6.1,170,1006.0,0.0,73,75,24.5,10.0,1.0,23.4,1,06:05 AM,07:18 PM
2,D0003,0,20.0,3,3.6,10,1011.0,4.5,100,75,20.0,10.0,1.0,12.6,1,06:05 AM,07:18 PM
3,D0004,0,17.0,0,6.1,150,1018.0,0.0,88,0,17.0,10.0,1.0,11.2,1,06:06 AM,07:16 PM
4,D0005,0,18.0,9,3.6,92,1019.0,0.0,94,0,18.0,10.0,1.0,9.0,1,06:07 AM,07:15 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,D2889,111,17.1,0,13.3,61,1017.0,0.0,57,3,17.1,10.0,1.0,22.2,1,05:49 AM,05:51 PM
2889,D2890,111,17.4,9,13.0,51,1017.0,0.0,49,0,17.4,10.0,1.0,22.2,1,05:49 AM,05:52 PM
2890,D2891,111,19.2,9,11.5,46,1016.0,0.0,34,0,19.2,10.0,1.0,21.3,2,05:48 AM,05:52 PM
2891,D2892,111,19.2,9,14.4,76,1017.0,0.0,45,2,19.2,10.0,1.0,24.9,2,05:47 AM,05:52 PM
2892,D2893,111,18.6,9,17.3,61,1016.0,0.0,34,0,18.6,10.0,1.0,30.2,2,05:46 AM,05:52 PM

In [7]:
# Save the label encoder
import joblib
joblib.dump(le, r"..\models\label_encoder.pkl")

['..\\models\\label_encoder.pkl']

In [8]:
# Get the null values rows
predict_data = data[data["condition_text"]==9]

In [9]:
predict_data

,day_id,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,sunrise,sunset
0,D0001,0,27.0,9,6.1,210,1006.0,0.0,54,75,28.0,10.0,6.0,11.9,2,06:04 AM,07:19 PM
1,D0002,0,22.0,9,6.1,170,1006.0,0.0,73,75,24.5,10.0,1.0,23.4,1,06:05 AM,07:18 PM
4,D0005,0,18.0,9,3.6,92,1019.0,0.0,94,0,18.0,10.0,1.0,9.0,1,06:07 AM,07:15 PM
5,D0006,0,20.0,9,3.6,96,1019.0,0.0,88,0,20.0,10.0,1.0,11.2,1,06:07 AM,07:13 PM
7,D0008,0,21.0,9,20.2,330,1011.0,0.0,53,75,21.0,10.0,1.0,17.3,1,06:09 AM,07:10 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887,D2888,111,19.5,9,16.6,113,1015.0,0.0,38,0,19.5,10.0,1.0,26.7,1,05:50 AM,05:51 PM
2889,D2890,111,17.4,9,13.0,51,1017.0,0.0,49,0,17.4,10.0,1.0,22.2,1,05:49 AM,05:52 PM
2890,D2891,111,19.2,9,11.5,46,1016.0,0.0,34,0,19.2,10.0,1.0,21.3,2,05:48 AM,05:52 PM
2891,D2892,111,19.2,9,14.4,76,1017.0,0.0,45,2,19.2,10.0,1.0,24.9,2,05:47 AM,05:52 PM
2892,D2893,111,18.6,9,17.3,61,1016.0,0.0,34,0,18.6,10.0,1.0,30.2,2,05:46 AM,05:52 PM

In [10]:
predict_data.drop(columns=['condition_text', 'sunrise','sunset'], inplace=True)

In [11]:
predict_data

,day_id,city_id,temperature_celsius,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index
0,D0001,0,27.0,6.1,210,1006.0,0.0,54,75,28.0,10.0,6.0,11.9,2
1,D0002,0,22.0,6.1,170,1006.0,0.0,73,75,24.5,10.0,1.0,23.4,1
4,D0005,0,18.0,3.6,92,1019.0,0.0,94,0,18.0,10.0,1.0,9.0,1
5,D0006,0,20.0,3.6,96,1019.0,0.0,88,0,20.0,10.0,1.0,11.2,1
7,D0008,0,21.0,20.2,330,1011.0,0.0,53,75,21.0,10.0,1.0,17.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887,D2888,111,19.5,16.6,113,1015.0,0.0,38,0,19.5,10.0,1.0,26.7,1
2889,D2890,111,17.4,13.0,51,1017.0,0.0,49,0,17.4,10.0,1.0,22.2,1
2890,D2891,111,19.2,11.5,46,1016.0,0.0,34,0,19.2,10.0,1.0,21.3,2
2891,D2892,111,19.2,14.4,76,1017.0,0.0,45,2,19.2,10.0,1.0,24.9,2
2892,D2893,111,18.6,17.3,61,1016.0,0.0,34,0,18.6,10.0,1.0,30.2,2

In [12]:
# Save the data
predict_data.to_csv(r"..\data\part_2\predict_data.csv", index=False)

In [13]:
data = data[data["condition_text"]!=9]
data.reset_index(drop=True, inplace=True)
data

,day_id,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,sunrise,sunset
0,D0003,0,20.0,3,3.6,10,1011.0,4.50,100,75,20.0,10.0,1.0,12.6,1,06:05 AM,07:18 PM
1,D0004,0,17.0,0,6.1,150,1018.0,0.00,88,0,17.0,10.0,1.0,11.2,1,06:06 AM,07:16 PM
2,D0007,0,21.0,6,4.0,310,1015.0,0.00,100,50,21.0,10.0,1.0,15.1,2,06:08 AM,07:11 PM
3,D0019,0,19.0,0,3.6,64,1017.0,0.00,88,0,19.0,10.0,1.0,8.3,3,06:20 AM,06:51 PM
4,D0028,1,19.0,6,3.6,83,1010.0,0.00,73,25,19.0,10.0,1.0,8.3,1,06:17 AM,07:20 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,D2839,109,27.0,6,19.1,90,1014.0,0.01,70,25,29.8,10.0,6.0,45.6,1,05:39 AM,05:43 PM
475,D2864,110,21.4,2,3.6,178,1012.0,0.00,89,75,21.4,10.0,6.0,6.6,1,06:17 AM,06:25 PM
476,D2874,111,16.9,0,16.6,68,1018.0,0.00,44,2,16.9,10.0,1.0,27.0,1,06:02 AM,05:49 PM
477,D2887,111,19.5,0,5.4,27,1014.0,0.00,34,0,19.4,10.0,1.0,11.2,2,05:51 AM,05:51 PM
478,D2889,111,17.1,0,13.3,61,1017.0,0.00,57,3,17.1,10.0,1.0,22.2,1,05:49 AM,05:51 PM

In [14]:
data["condition_text"].value_counts()

condition_text
0    122
6    122
2     68
1     53
4     50
7     21
3     16
8     15
5     12
Name: count, dtype: int64

In [15]:
# Check for duplicates
data.duplicated().sum()

np.int64(0)

In [16]:
# Drop sunrise and sunset columns
data.drop(columns=["sunrise", "sunset"], inplace=True)

In [17]:
# get condition_text column to the right corner
condition_text = data.pop("condition_text")
data["condition_text"] = condition_text

In [18]:
data

,day_id,city_id,temperature_celsius,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,condition_text
0,D0003,0,20.0,3.6,10,1011.0,4.50,100,75,20.0,10.0,1.0,12.6,1,3
1,D0004,0,17.0,6.1,150,1018.0,0.00,88,0,17.0,10.0,1.0,11.2,1,0
2,D0007,0,21.0,4.0,310,1015.0,0.00,100,50,21.0,10.0,1.0,15.1,2,6
3,D0019,0,19.0,3.6,64,1017.0,0.00,88,0,19.0,10.0,1.0,8.3,3,0
4,D0028,1,19.0,3.6,83,1010.0,0.00,73,25,19.0,10.0,1.0,8.3,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,D2839,109,27.0,19.1,90,1014.0,0.01,70,25,29.8,10.0,6.0,45.6,1,6
475,D2864,110,21.4,3.6,178,1012.0,0.00,89,75,21.4,10.0,6.0,6.6,1,2
476,D2874,111,16.9,16.6,68,1018.0,0.00,44,2,16.9,10.0,1.0,27.0,1,0
477,D2887,111,19.5,5.4,27,1014.0,0.00,34,0,19.4,10.0,1.0,11.2,2,0
478,D2889,111,17.1,13.3,61,1017.0,0.00,57,3,17.1,10.0,1.0,22.2,1,0

In [19]:
data.to_csv(r"..\data\part_2\daily_data_cleaned.csv", index=False)